<h3>Search books</h3>
<form accept-charset="UTF-8" action="/search" class="search"
      id="search" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden"
         value="NNb6+J/j46LcrgYUC60wQ2titMuJQ5lLqyAbnbAUkdo=" />

  <div class="field">
  <label for="book_name">Book name</label>
  <input id="book_name" name="book_name" type="text" />

  <label for="first_name">First name</label>
  <input id="first_name" name="first_name" type="text" />

  <label for="last_name">Last name</label>
  <input id="last_name" name="last_name" type="text" />

  <label for="published">Published</label>
  <input id="published" name="published" type="number" />

  <label for="price">Price</label>
  <input id="price" name="price" type="number" />

  <label for="isbn">Isbn</label>
  <input id="isbn" name="isbn" type="text" />

  <label for="category">Category</label>
  <input id="category" name="category" type="text" />

  </div>
  <input class="btn btn-primary" name="commit" type="submit"
         value="Search" />
</form>




